@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #082f49;
}

.menuicon-animate {
	animation: show-disapear 0.35s ease-in-out;
}

@keyframes show-disapear {
	0%,
	75% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

.modal-fadeIn {
	animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
